.hashrate-allocation-wrapper {
background-color: green;
}

.hashrate-allocation-menu {
background-color:red;
padding: 20px;
}

.hashrate-allocation-content {
background-color:yellow;
}

#allocation-algorithm {
    max-width: 200px;
}

.hashrate-allocation-element {
width: max-content;
background-color: orange;
padding: 20px;
margin: 10px;
}

.hashrate-allocation-element-header {
    text-align: center;
}

.hashrate-allocation-element-content {
    background-color: blue;

}

.hashrate-allocation-element-range {
    height: 200px;
    width: 200px;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
}

// Grid Definition
.hashrate-allocation-content {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
