@import 'conf/conf';

$text-color: #ffffff;

.auth-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.auth-block {
  z-index:1;
  border: 1px solid black;
  width: 540px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #fff;
  color: #fff;
  h1 {
    font-weight: $font-light;
    margin-bottom: 28px;
    text-align: center;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: $light-gray;
    &:hover {
      color: $dark-gray;
    }
  }

  .control-label {
    padding-top: 11px;
    color: $light-gray;
  }

  .form-group {
    margin-bottom: 12px;
  }
}

.auth-input {
  width: 300px;
  margin-bottom: 24px;
  input {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 4px 10px;
    outline: none;
  }
}

a.forgot-pass {
  display: block;
  text-align: right;
  margin-bottom: -20px;
  float: right;
  z-index: 2;
  position: relative;
  margin-top: 10px;
}

.auth-link {
  display: block;
  font-size: 16px;
  text-align: center;
  margin-bottom: 33px;
}

.auth-sep {
  margin-top: 36px;
  margin-bottom: 24px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  display: block;
  position: relative;
  & > span {
    display: table-cell;
    width: 30%;
    white-space: nowrap;
    padding: 0 24px;
    color: $light-gray;
    & > span {
      margin-top: -12px;
      display: block;
    }
  }
  &:before, &:after {
    border-top: solid 1px $text-color;
    content: "";
    height: 1px;
    width: 35%;
    display: table-cell;
  }
}

.auth-footer {
  margin-top: 5px;
}

.al-share-auth {
  text-align: center;
  .al-share {
    float: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      margin-left: 24px;
      &:first-child {
        margin-left: 0;
      }
      i {
        font-size: 24px;
      }
    }
  }
}

.btn-auth {
  color: #ffffff !important;
  background-color: $light-gray !important;
  border-color: $dark-gray !important;
  border-radius: 2px !important;
  padding: 10px 24px !important;
}

.auth-input-own {
  background-color: white !important;
  color: $dark-gray !important;
  border-radius: 2px !important;
  height: 44px !important;
  border: 1px solid $light-gray;
}

.auth-input-own::placeholder {
  color: $light-gray;
}

.auth-label {
  text-align: left !important;
}

.auth-header {
  width: 100%;
  padding: 15px 32px;
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.auth-logo {
  height: 70px;
}

.auth-title {
  font-size: 25px;
  margin: 0 !important;
  text-align: right;
}

.auth-block-content {
  padding: 32px;
}

.auth-header-logo {
  width: 50%;
  text-align: left;
}

.auth-header-title {
  width: 50%;
  text-align: right;
}